.BurgerControlPanel {
	display: flex;
    flex-direction: column;
}

.BurgerControlPanel > .ButtonContainer, .BurgerControlPanel > button {
    background: linear-gradient( rgba(255,255,255, 0.4), rgba(255,255,255, 0.3));
    box-shadow:  10px 10px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter:blur(0.3rem);
    border-radius: 5vw;
    height: 4vh;
    margin: 0.8vh;
    z-index: 3;
    font-size: 115%;
    border: none;
}

.BurgerControlPanel > button{
    color: #bc434c;
}

.BurgerControlPanel > button:hover {
    background:  rgba(255,255,255, 0.6);
    color: black;
    cursor: pointer;
}

.BurgerControlPanel > button:active {
    background:  rgba(255,255,255, 1);
}