.InfoBar {
    --height: clamp(1px, 9vw, 50px);
    --font-size: calc(var(--height) * 0.4);

    display: flex;
    width: 100%;
    height: var(--height);
    background: var(--background-white-transparent);
    box-shadow: var(--box-shadow);
    border-radius: 100vw;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: var(--blur);
    font-size: var(--font-size);
}
