.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    backdrop-filter: var(--blur);
}

.ToggleCredits {
    cursor: pointer;
}

.ToggleCredits:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}
