
/* mobile layout */
@media only screen and (max-width: 600px) {
    .Main{
        justify-items: center;
        text-align: center;
        user-select: none;
       
    }
    
    .Main > div {
        max-width: 600px;
        width: 100%;
        height:100px;
        min-width: 350px;
        /* grid-area: 1 / 1 / 2 / 2; */
    }
    
    .Main > div > * {
        width: inherit;
        margin: auto;
    }
    
    .Main > div > a {
        user-select: auto;
    }
    
    .Main > div > .table {
        background-color: blue;
        /* grid-area: 2 / 1 / 3 / 2 ; */
    }
}