
/* mobile layout */
@media only screen and (max-width: 600px) {
    .Layout {
        display: grid;
        grid-template-rows: 100px 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 0;
    }
    
    /* header contains logo */
    header{
        grid-area: 1 / 1 / 2 / 2;
        height: 100px;
    }
    
    /* #infoBar contains burger price and calories */
    #infoBar{
        grid-area: 2 / 1 / 3 / 2;
        height: 40px;
        margin: auto 0;
    }
    
    /* aside contains burger control buttons */
    aside {
        grid-area: 3 / 1 / 4 / 2;
        margin: auto;
        height: 20vh;
        /* min-height: 10rem; */
        width: 70%;
        min-width: 100%;
        max-width: 100%;
    }
    
    aside * {
        width: inherit;
        margin: auto;
        min-height: 2.5rem;
        margin: -10% auto;
    }
    
    /* main contains the burger, girl images and table image*/
    main{
        grid-area: 4 / 1 / 5 / 2;
        width: 100%;
        height: 100%;
    }
    
    /* contains link to the author's portfolio */
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        grid-area: 5 / 1 / 6 / 2;
    }
    
  }