.ButtonContainer {
    --height: clamp(37px, 8vw, 50px);
    --width: calc(var(--height) * 5);
    --font-size: calc(var(--height) * 0.47);

    display: flex;
    position: relative;
    background: var(--background-white-transparent);
    border-radius: 100vw;
    width: var(--width);
    height: var(--height);
    box-shadow: var(--box-shadow);
    margin: clamp(5px, 0.8vw, 7px) 0;
    backdrop-filter: var(--blur);
    overflow: hidden;
}

.ButtonContainer > * {
    margin: 0 auto;
    user-select: none;
}

.text-area {
    display: flex;
    gap: calc(var(--height) * 0.2);
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size);
    text-shadow: var(--box-shadow);
}

.ingredient-icon {
    height: calc(var(--height) * 0.8);
    filter: var(--filter-drop-shadow);
}

.control-btn {
    position: absolute;
    border: hidden;
    padding: 0;
    height: var(--height);
    width: var(--height);
    border-radius: 100vw;
    font-size: var(--font-size);
    overflow: hidden;
    background: transparent;
    cursor: pointer;
    text-shadow: var(--box-shadow);
}

.control-btn:hover {
    background: rgba(255, 255, 255, 0.6);
}
.control-btn:active {
    background: rgba(255, 255, 255, 0.4);
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

.clear-btn {
    width: 100%;
    font-size: var(--font-size);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

.disabled:hover {
    background: transparent;
}

.disabled:active {
    background: rgba(255, 0, 0, 0.1);
}

@media (hover: none) {
    .control-btn:hover {
        background: transparent;
    }
}
